# Flutter
mobile/expense_tracker/build/
mobile/expense_tracker/.dart_tool/
mobile/expense_tracker/.flutter-plugins
mobile/expense_tracker/.flutter-plugins-dependencies
mobile/expense_tracker/.packages
mobile/expense_tracker/pubspec.lock

# Node
backend/node_modules/
backend/.env

# OS
.DS_Store
Thumbs.db